.idea
nucampsiteServer/node_modules
/node-mongo/node_modules/
/node-mongoose/node_modules/
/mongodb/
/node_modules/
/nucampsiteServer/sessions/
/nucampsiteServer/bin/server.cert
/nucampsiteServer/bin/server.key
